
@import url(./sanfrancisco-font.css);
@import './short.scss';

body{
    font-family: 'SF Text', 'Noto Sans KR', sans-serif;
    font-weight: $font-weight-normal;
    line-height: 1.5;
}
[lang='number']{
    font-family:  'Roboto', sans-serif;
}

html{
    font-size: 14px;
}
// 폰트
.h{
    &1{
        font-size: 2.5rem;
    }
    &2{
        font-size: 2rem;
    }
    &3{
        font-size: 1.75rem;
    }
    &4{
        font-size: 1.5rem;
    }
    &5{
        font-size: 1.25rem;
    }
}
// 간격
.m{
    &x-auto{
        margin: 0px auto;
    }
}


// 레이아웃
.container {
    position: relative;
}