
$black:#000;
$ink:#222323;
$dark:#444444;
$body:#666666;


$font-weight-light: 200;
$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-med: 500;
$font-weight-bolder: 700;
$font-weight-bold: 900;