#header {
  width: 100%;
  position: relative;
}

#header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#header #nav .logo {
  font-weight: 500;
  text-decoration: none;
  color: #222323;
}

#header #nav .menu {
  margin-left: auto;
}

#header #nav-web {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

#header #nav-web a {
  font-weight: 500;
  text-decoration: none;
}

#header #nav-web a:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .container {
    width: calc(100vw - 3.5rem);
  }
  #nav {
    height: 4.5em;
  }
  #nav .logo {
    font-size: 1.75rem;
  }
  #nav .menu {
    font-size: 1.5rem;
    visibility: visible;
  }
  #nav-web {
    visibility: hidden;
  }
}

@media (min-width: 576px) {
  .container {
    width: calc(100vw - 14rem);
  }
  #nav {
    height: 6em;
  }
  #nav .logo {
    font-size: 2.5rem;
  }
  #nav .menu {
    font-size: 1.75rem;
    visibility: visible;
  }
  #nav-web {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .container {
    width: calc(100vw - 14rem);
  }
  .container-left {
    left: 7rem;
  }
  #nav .menu {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .container {
    width: calc(100vw - 12em);
  }
  .container-left {
    left: 6rem;
  }
  #nav .menu {
    visibility: hidden;
  }
  #nav-web {
    visibility: visible;
    height: 6em;
  }
  #nav-web a {
    font-size: 1rem;
    margin-right: 2em;
  }
}

@media (min-width: 1200px) {
  .container {
    width: calc(100vw - 18rem);
  }
  .container-left {
    left: 9rem;
  }
}

@media (min-width: 1600px) {
  .container {
    width: calc(100vw - 24rem);
  }
  .container-left {
    left: 12rem;
  }
}
